.chat-page .footer {
  display: none;
}
.chat-content {
  background-color: var(--ifm-navbar-background-color);
  transition: visibility;
  visibility: visible;
  height: calc(100vh - var(--ifm-navbar-height));
}

.chat-content.hidden {
  visibility: hidden;
}

.chat-content .pro-chat .anticon svg {
  color: var(--ifm-menu-color-active);
}

.chat-content .ant-pro-chat-list-item-title {
  color: var(--ifm-font-color-base);
}

.chat-content .ant-pro-chat-message-content {
  border-radius: 0.5em;
  background: var(--ifm-navbar-search-input-background-color) !important;
}
.chat-content .layoutkit-flexbox {
  background: transparent;
}

.chat-content .ant-pro-chat-input-area-component-textarea {
  background-color: var(--ifm-navbar-search-input-background-color);
}

.chat-content .ant-input-outlined:focus {
  box-shadow: 0 0 0 2px var(--ifm-menu-color-active);
}
